* {
  margin: 0;
  padding: 0;
  font: 14pt Georgia sans-serif;
}
svg {
  width: 100%;
  height: 100%;
}
svg:hover {
  transform: scale(1.05);
}
svg:active {
  transform: scale(1);
}

h1 {
  margin-bottom: 20px;
  font-size: 28pt;
}
h3, h4 {
  width: 40%;
  text-align: left;
}
.container {
  padding: 5%;
  margin: 0 auto;
  text-align: center;
  width: 560px;
}
.form {
  border-radius: 20px;
  border: 1px solid silver;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tracker-list {
  margin-top: 30px;
  border-top: 1px solid lightgray;
}
.tracker {
  border-bottom: 1px solid lightgray;
  margin: 0;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
input {
  margin-left: 20px;
  border: none;
  outline: none;
  width: 100%;
}
::placeholder {
  color: lightgray;
}
.add {
  width: 50px;
  height: 50px;
  background-image: url('./assets/play.svg');
}
button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
button:hover {
  transform: scale(1.05);
}
button:active {
  transform: scale(1);
}
.del {
  background-image: url('./assets/minus.svg');
}
.action {
  display: flex;
  gap: 5px;
}
.notracks {
  margin-top: 50px;
}
@media screen
and (min-width: 320px)
and (max-width: 560px) {
  .container {
    width: 100%;
  }
}
