* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
svg {
  cursor: pointer;
}
svg:hover {
  transform: scale(1.05);
}
.container {
  padding: 5%;
  text-align: center;
  width: 560px;
}
.form {
  border-radius: 20px;
  border: 1px solid silver;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
input {
  margin-left: 20px;
  border: none;
  outline: none;
}
