* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
svg {
  cursor: pointer;
}
svg:hover {
  transform: scale(1.05);
}
svg:active {
  transform: scale(1);
}
.container {
  padding: 5%;
  margin: 0 auto;
  text-align: center;
  width: 560px;
}
.form {
  border-radius: 20px;
  border: 1px solid silver;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.track {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-top: 30px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
input {
  margin-left: 20px;
  border: none;
  outline: none;
}
::placeholder {
  color: lightgray;
  font-size: 1.5em;
}
button {
  outline: none;
  border: none;
  background: none;
}
